
.container-fluid{
  height: 100vh;
  width: 100vw;
}


.title h1{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 3rem;
}

button{
  justify-content: center;
  padding: 5px;
  transition: 0.3s;
  background-color: beige;
}

button:hover{
  background-color: #292b2c;
  color: whitesmoke;

}

.grid {
  display: grid;
  max-width: 500px;
  min-height: 500px;
  margin: 2rem auto;
  border: 2px solid darkslategray;
}

.grid-element {
  border: 1px solid darkslategray;
  background-color: white;
}
.color-picker{
  margin-top: 15px;
}